= simple_form_for([@commentable, @comment], remote: true) do |f|
  = f.input :body, label: false, input_html: {rows: 3, class: 'textarea'}
  = f.hidden_field :commentable_type, value: @commentable.class
  = f.hidden_field :commentable_id, value: @commentable.id

  .actions
    %button{class: 'btn btn-primary submit-comment'} コメントする

