#answer-form
  %h2 回答
  = simple_form_for([@question, @answer]) do |f|
    = f.input :body, as: :text, label: false, input_html: {rows: 10, class: 'textarea',
        'data-previewurl': preview_question_answers_path(@question)}
    #preview
      = raw(markdown(@answer.body)) if @answer.body
    .actions
      = f.button :submit , '回答する', {class: 'btn btn-primary'}
