#footer
  .footerwrap
    #footer-menu
      %a{href: 'http://ja.stackoverflow.com/tour'} ツアー
      %a{href: 'http://ja.stackoverflow.com/help'} ヘルプ
      %a{href: 'http://blog.stackexchange.com?blb=1'} ブログ
      %a{href: 'http://chat.stackexchange.com'} チャット
      %a{href: 'http://data.stackexchange.com'} データ
      %a{href: 'http://stackexchange.com/legal'} 法律
      %a{href: 'http://stackexchange.com/legal/privacy-policy'} プライベート・ポリシー
      %a{href: 'http://stackexchange.com/work-here'} 採用情報
      %a{href: 'http://stackexchange.com/mediakit'} 広告情報
      %b
        %a{href: 'http://ja.stackoverflow.com/contact'} お問い合わせ
      %b
        %a{href: 'http://meta.ja.stackoverflow.com/'} フィードバック

    #copyright  &copy; Company.inc
