#header
  #logo
    %a{href: '/'}
  #menus
    .nav.mainnavs
      %ul
        %li
          %a{href: '#'} 質問
        %li
          %a{href: '#'} タグ
        %li
          %a{href: '#'} ユーザ
        %li
          %a{href: '#'} バッジ
        %li
          %a{href: '#'} 未回答
        %li
          %a{href: '#'} 質問する

