#header
  .row
    #logo.col-md-6.col-sm-12
      = link_to 'トップページ', root_path
    #menus.col-md-6.col-sm-12
      .nav
        %ul
          %li{class: active_headerlink(controller_name, action_name) == 'questions' ? 'active' : ''}
            = link_to '質問', questions_path
          %li{class: active_headerlink(controller_name, action_name) == 'tags' ? 'active' : ''}
            = link_to 'タグ', tags_path
          %li{class: active_headerlink(controller_name, action_name) == 'users' ? 'active' : ''}
            %a{href: '#'} ユーザ
          %li{class: active_headerlink(controller_name, action_name) == 'unanswered' ? 'active' : ''}
            %a{href: '#'} 未回答
          %li{class: active_headerlink(controller_name, action_name) == 'ask_question' ? 'active' : ''}
            = link_to '質問する', new_question_path

