#how-to-format.module.newuser.sidebar-help
  %h4 文章の整え方
  %p
    %span.dingus ►
    段落を分けるには空行を入れます
  %p
    %span.dingus ►
    改行はそのまま反映されます
  %p
    %span.dingus ►
    **斜体**や****太字****にできます
  %p
    %span.dingus ►
    ソースコードはスペース 4 つでインデントします
  %p
    %span.dingus ►
    記号を
    %code `*そのまま*表示`
    するには、バッククォートで囲みます
  %p
    %span.dingus ►
    引用には行の先頭に &gt; を入れます</p>
  %p
    %span.dingus ►
    リンクの書き方
    %p &lt;http://foo.com&gt;<br>[foo](http://foo.com)<br>&lt;a href="http://foo.com"&gt;foo&lt;/a&gt;
  %p
    %span.dingus ►
    %a{href: "http://meta.stackexchange.com/questions/1777/what-html-tags-are-allowed", target: "_blank"}
      一部の HTML タグ</a>も使えます
  %p.ar
    %a{href: "http://ja.stackoverflow.com/editing-help", target:"_edithelp"}
      文章の整え方についてのヘルプ »
    %br
    %a{href: "http://ja.stackoverflow.com/questions/how-to-ask"}
      質問についてのヘルプ »